.row-header{
    margin:0px auto;
    padding:0px auto;
}
.row-content{
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom:1px ridge;
    min-height:400px;
}
.footer{
    margin:0px;
    background-color: #e8b2f0;
}
.jumbotron{
    background-color: rgb(194, 30, 209);
    margin: 0px auto;
    padding: 70px 30px 70px 30px;
    color:floralwhite;
}
.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
